/.vs
/.vscode
.vs
/Library
/Temp
/UnityPackageManager

/Assets/XCharts/Demo/demo_test.unity
/Assets/XCharts/Demo/demo_test.unity.meta

*.sln
*.csproj
*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp
*.apk
*.DS_Store
*.cache