/.vs

.vs
/Library
/Temp
/UnityPackageManager
/Assets/XLua/Examples

XCharts.sln
XCharts.csproj
XCharts.Editor.csproj
XCharts.Plugins.csproj
/Assets/xchart_test.unity

*.vcxproj.filters
*.vcxproj.user
*.pdb
*.exp
*.apk